{:deps {markdown-clj/markdown-clj {:mvn/version "1.11.4"}
        com.widdindustries/cljc.java-time {:mvn/version "0.1.21"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        babashka/fs {:mvn/version "0.3.17"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}
        selmer/selmer {:mvn/version "1.12.58"}}
 :paths ["src" "resources" "target"]
 :aliases
 {:dev
  {:extra-paths ["development/src"]
   :extra-deps {;; Components
                weblog/content {:local/root "components/content"}
                ;; Development dependencies
                org.clojure/clojure {:mvn/version "1.11.1"}}}

  :cider
  {:extra-deps {nrepl/nrepl                          {:mvn/version "1.0.0"}
                cider/cider-nrepl                    {:mvn/version "0.30.0"}
                refactor-nrepl/refactor-nrepl        {:mvn/version "3.6.0"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  ;; Run tests with poly, this alias is for including the tests
  :test
  {:extra-paths [;; Components
                 "components/content/test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}

  ;; Example command: clj -M:poly version
  :poly
  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
   :extra-deps {polyfy/polylith
                {:git/url   "https://github.com/polyfy/polylith"
                 :git/sha   "a073b7c8dbea176a8cb39b3c4d7c3d465c99e946"
                 :deps/root "projects/poly"}}}}}
