{:deps {;; External Deps
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1264"}

        ;; Components
        weblog/content {:local/root "../../components/content"}
        weblog/logger  {:local/root "../../components/logger"}
        weblog/notebooks {:local/root "../../components/notebooks"}
        weblog/render  {:local/root "../../components/render"}

        ;; Bases
        weblog/weblog {:local/root "../../bases/weblog"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
