{:paths ["src" "resources"]
 :deps {weblog/content {:local/root "../../components/content"}
        weblog/logger  {:local/root "../../components/logger"}
        weblog/render  {:local/root "../../components/render"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
